services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ecommerce_api_prod
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - /etc/curiomart-backend.env
    environment:
      NODE_ENV: production
    command: npm start
