services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ecommerce_api
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - ./config/.env
    environment:
      NODE_ENV: production
    volumes:
      - .:/app
      - /app/node_modules