services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ecommerce_socket_dev
    restart: unless-stopped
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
