name: Deploy Backend & Socket To EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            echo "Deploying Backend..."
            cd /home/ubuntu/curiomart/backend
            git pull origin main
            sudo docker compose -f docker-compose.prod.yml up -d --build

            echo "Deploying Socket..."
            cd /home/ubuntu/curiomart/socket
            git pull origin main
            sudo docker compose -f docker-compose.prod.yml up -d --build
